.listsContainer {
  height: 80vh;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid rgb(125, 110, 131);
}
.gratefulAndPriorities {
  display: flex;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.grateful {
  display: block;
  margin-left: 10%;
  margin-right: 1%;
  margin-top: 3%;
  width: 50%;
}
.gratefulTitle {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.726);
  height: 10%;
  margin-bottom: 5%;
}
.gratefulContent {
  width: 100%;
  height: 90%;
  background-color: rgb(28, 10, 0);
  opacity: 60%;
  border-radius: 10px;
  overflow-y: auto;
  font-family: "Raleway", sans-serif;
  font-size: 0.85vw;
  padding-left: 2%;
  padding-top: 5%;
  word-wrap: break-word;
}
.deleteButton {
  visibility: hidden;
}

.text:hover .deleteButton {
  visibility: visible;
  border: none;
  background-color: transparent;
  color: rgb(205, 24, 24);
}

.priorities {
  display: block;
  margin-right: 10%;
  margin-left: 1%;
  margin-top: 3%;
  width: 50%;
}
.prioritiesTitle {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.726);
  height: 10%;
  margin-bottom: 5%;
}
.prioritiesContent {
  width: 100%;
  height: 90%;
  background-color: rgb(28, 10, 0);
  opacity: 60%;
  border-radius: 10px;
  overflow-y: auto;
  font-family: "Raleway", sans-serif;
  font-size: 0.85vw;
  padding-left: 5%;
  padding-top: 5%;
}
.toDo {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  height: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.toDoTitle {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.726);
  height: 10%;
  margin-bottom: 2%;
}
.toDoContent {
  width: 100%;
  height: 90%;
  background-color: rgb(28, 10, 0);
  opacity: 60%;
  border-radius: 10px;
  overflow-y: auto;
  font-family: "Raleway", sans-serif;
  font-size: 0.85vw;
  padding-left: 2%;
  padding-top: 1%;
  word-wrap: break-word;
}
.notes {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  height: 20%;
  margin-top: 2%;
}
.notesTitle {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.726);
  height: 10%;
  margin-bottom: 20px;
}
.notesContent {
  width: 100%;
  height: 90%;
  background-color: rgb(28, 10, 0);
  opacity: 60%;
  border-radius: 10px;
  overflow-y: auto;
  font-family: "Raleway", sans-serif;
  font-size: 0.85vw;
  padding-top: 1%;
  word-wrap: break-word;
}

/* Anchura del scrollbar */
.gratefulContent::-webkit-scrollbar,
.prioritiesContent::-webkit-scrollbar,
.toDoContent::-webkit-scrollbar,
.notesContent::-webkit-scrollbar {
  width: 12px;
}

/* Track del scrollbar (el fondo) */
.gratefulContent::-webkit-scrollbar-track,
.prioritiesContent::-webkit-scrollbar-track,
.toDoContent::-webkit-scrollbar-track,
.notesContent::-webkit-scrollbar-track {
  background: rgb(78, 54, 54); /* Cambia el color de fondo aquí */
  border-radius: 10px;
}

/* El thumb del scrollbar (el botón que se mueve) */
.gratefulContent::-webkit-scrollbar-thumb,
.prioritiesContent::-webkit-scrollbar-thumb,
.toDoContent::-webkit-scrollbar-thumb,
.notesContent::-webkit-scrollbar-thumb {
  background: rgb(44, 51, 51); /* Cambia el color del thumb aquí */
  border-radius: 10px;
}

/* Cambia el color del thumb cuando se pasa el mouse sobre él */
.gratefulContent::-webkit-scrollbar-thumb:hover,
.prioritiesContent::-webkit-scrollbar-thumb:hover,
.toDoContent::-webkit-scrollbar-thumb:hover,
.notesContent::-webkit-scrollbar-thumb:hover {
  background: rgb(
    17,
    109,
    110
  ); /* Cambia el color cuando se pasa el mouse aquí */
}
