.bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(220, 215, 201);
  background-image: url("https://wallpapercave.com/wp/wp9081365.png");
  background-size: 100% 100%; /* Ajustar la imagen al 100% del ancho y alto del div */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  background-position: center;
}
.littleContainer {
  width: 60vw;
  height: 135vh;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  background-color: rgb(50, 30, 30);
  border-radius: 20px;
  color: white;
  transition: background-color 2s ease-in-out;
}

/* HTML: <div class="loader"></div> */
body {
  background-color: rgb(50, 30, 30);
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  background: #554236;
  display: grid;
  transform-origin: top right;
  animation: l6-0 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: #f77825;
  transform-origin: inherit;
  animation: inherit;
  animation-name: l6-1;
}
.loader::after {
  background: #60b99a;
  --s: 180deg;
}
@keyframes l6-0 {
  70%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l6-1 {
  30% {
    transform: rotate(var(--s, 90deg));
  }
  70% {
    transform: rotate(0);
  }
}
