.bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(150, 182, 197);
}
.littleContainer {
  width: 60vw;
  height: 135vh;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  background-color: rgb(173, 196, 206);
}

