.inputsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5%;
  height: 6vh;
}

select {
  background-color: rgba(17, 108, 110, 0.993);
  font-family: "Raleway", sans-serif;
  border: none;
  padding: 1%;
  border-radius: 10px;
  height: 6vh;
}
option,
select {
  color: rgba(255, 255, 255, 0.726);
}
.taskContent {
  border: #333333c0;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  padding-left: 2%;
  color: rgba(255, 255, 255, 0.726);
  background-color: rgba(17, 108, 110, 0.721);
  resize: vertical;
  max-height: 6vh;
  max-width: 15vw;
  margin-left: 7%;
}
textarea:disabled {
  background-color: rgba(1, 106, 112, 0.438);
}
.submitButton {
  background-color: rgb(149, 35, 35);
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.726);
  height: 6vh;
  margin-left: 2vw;
}
.submitButton:hover {
  background-color: rgba(149, 35, 35, 0.737);
}

/* Anchura del scrollbar */
.taskContent::-webkit-scrollbar {
  width: 12px;
}

/* Track del scrollbar (el fondo) */
.taskContent::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo aquí */
  border-radius: 10px;
}

/* El thumb del scrollbar (el botón que se mueve) */
.taskContent::-webkit-scrollbar-thumb {
  background: rgba(17, 108, 110, 0.721); /* Cambia el color del thumb aquí */
  border-radius: 10px;
}

/* Cambia el color del thumb cuando se pasa el mouse sobre él */
.taskContent::-webkit-scrollbar-thumb:hover {
  background: rgba(
    17,
    108,
    110,
    0.9
  ); /* Cambia el color cuando se pasa el mouse aquí */
}
.taskContent::-webkit-scrollbar-corner {
  display: none;
}

/*-------------------*/
/* Estilo para el campo de selección en Chrome */
select {
  -webkit-appearance: none; /* Deshabilita la apariencia de formularios nativos */
  appearance: none;
  padding: 0.5em 2em 0.5em 0.5em;
  padding: 0.5em 2em 0.5em 1.8em;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* Posición predeterminada con espacio a la derecha */
  background-size: 16px; /* Tamaño de la imagen de la flecha */
}

/* Estilo para la flecha cuando se realiza un hover */
select:hover {
  background-image: url("https://cdn-icons-png.flaticon.com/512/626/626013.png"); /* Ruta de la imagen de la flecha */
}
