.inputsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}
#opciones {
  background-color: rgb(223, 211, 195);
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  border: none;
  padding: 1%;
  border-radius: 10px;
  margin-left: 2%;
}
.taskContent {
  border: #333333c0;
  border-radius: 10px;
  width: 25vw;
  height: 10vh;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}
textarea:disabled {
  background-color: rgb(205, 194, 174);
}
textarea {
  background-color: rgb(223, 211, 195);
}
.submitContainer {
  margin-top: 3%;
}
.submitButton {
  background-color: rgb(204, 156, 117);
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}
.submitButton:hover {
  background-color: rgb(162, 91, 91);
}
