.inputsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}
#opciones {
  background-color: rgb(238, 224, 201);
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  border: 1px solid rgb(150, 182, 197);
  padding: 1%;
  border-radius: 10px;
  margin-left: 2%;
}
textarea {
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}
#textareaContent {
  border: #333333c0;
  border-radius: 10px;
}
.submitContainer {
  margin-top: 3%;
}
.submitButton {
  background-color: rgb(238, 224, 201);
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
}
.submitButton:hover {
  background-color: rgb(241, 240, 232);
}
